@model Web_App_Licensing.Models.dbContext.tblAdmin
@{
    Layout = "~/Views/Shared/_SignIn.cshtml";
    ViewBag.Title = "Mot de passe oublié";
}

<section class="mt-5 h-100 container-fluid align-items-center justify-content-center">
    <section class="h-100 align-items-center justify-content-center">
        <header class="container h-100 align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center">
                <div class="container" id="sec-login">

                    <div class="row no-gutters">
                        <div class="col-6 col-sm-6 bg-info" id="login-div-1">
                            <img src="~/assets/img/style/vert-yperia.jpg" />
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8" id="login-div">
                                    <h3>Mot de passe oublié</h3>
                                    <hr />
                                    @using (Html.BeginForm("Forgotpassword", "SignIn", FormMethod.Post))
                                    {
                                        @Html.HiddenFor(x => x.ID)

                                        <div class="form-group">

                                            @Html.LabelFor(x => x.Email, "Email")
                                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "error" })
                                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "example@domain.com", @type = "email" })
                                        </div>

                                        <button type="submit" class="btn btn-primary">Nouveau Mot de passe</button>
                                        <hr />
                                    }
                                    @Html.ActionLink("Connexion", "Index", "SignIn", new { @class = "btn btn-link" })
                                    @Html.ActionLink("Inscription", "SignUp", "SignIn", new { @class = "btn btn-link" })
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6" id="login-div-2">
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>
</section>
